<div class="container">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="firstname">First Name </label>
    <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname">
  </div>

  <div class="form-group">
    <label for="lastname">Last Name </label>
    <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname">
  </div>

  <div class="form-group">
    <label for="email">Email </label>
    <input type="text" class="form-control" id="email" name="email">
  </div>

  <p>
    <label for="gender">Geneder </label>
    <input type="radio" value="male" id="gender" name="gender" > Male
    <input type="radio" value="female" id="gender" name="gender"> Female
  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried">
  </p>

  <p>
    <label for="country">country </label>
    <select id="country" name="country">
      <option [ngValue]="c" *ngFor="let c of countryList | keyvalue">
        {{c.value}}
      </option>
    </select>
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>
</div>
